<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
       <settings>
              <setting name="cacheEnabled" value="false"/>
       </settings>

       <typeAliases>
              <!--Define a aliases for easy use of them inside the mapper-->
              <typeAlias type="org.joda.time.DateTime" alias="DateTime"/>
       </typeAliases>

       <typeHandlers>
              <typeHandler javaType="DateTime" jdbcType="DATE"
                           handler="lvsong.club.typehandler.JodaDateTime2DateTypeHandler"></typeHandler>
              <typeHandler javaType="DateTime" jdbcType="TIME"
                           handler="lvsong.club.typehandler.JodaDateTime2TimeTypeHandler"></typeHandler>
              <typeHandler javaType="DateTime" jdbcType="TIMESTAMP"
                           handler="lvsong.club.typehandler.JodaDateTime2TimestampTypeHandler"></typeHandler>
       </typeHandlers>

</configuration>